# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

_IDE_HELPER.php
config.app.php
/composer.phar
/vendor/
.env
storage/*.sqlite
tests/_output/*
/node_modules/
storage/exports/*
