@import "mixins";

.issue-actions {
  float: right;
  padding: 0;

  li {
    .list-no-style;
  }

  > li {
    float: left;
    padding: 10px 9px;
    @media (min-width: 767px) {
      padding: 0;
    }
  }

  .assigned-to {
    .add_dropdown();
  }

  .close-issue {
    color: #48a547;
  }
}

.issue-quote {
  text-align: right;
  padding: 0 3px 8px 0;

  span, strong {
    border-bottom: 1px solid #d4d4d4;
    padding: 1px 3px;
  }
}
